/*Electric Jacaranda Theme*/
/*https://www.color-hex.com/color-palette/1013336*/

/*---------Side Buttons---------*/
#btnProfile, #btnForm, #btnRanklist, #btnSettings{
    -fx-background-color: #9571ff;
    -fx-text-fill: #f8f5ff;
}

/*---------Login---------*/
#loginAnchorPane{
    -fx-border-color: #c7b4ff;
    -fx-border-width: 5;
    -fx-background-color: #f8f5ff;
}

#titleLabel, #passwordField, #textField{
    -fx-color: #e1d7ff;
    -fx-text-fill: #b095ff;
    -fx-border-color: #c7b4ff;
    -fx-border-width: 5;
    -fx-border-radius: 2px;
}

#btnProfile1{
    -fx-color: #9571ff;
    -fx-text-fill: #f8f5ff;
}

/*---------Profile---------*/
#borderPane{
 -fx-background-color: #e1d7ff;
}

#userPane, #infoPane, #ranklistPane, #badgesPane, #progressPane{
    -fx-border-color: #c7b4ff;
    -fx-text-fill: #f8f5ff;
    -fx-border-width: 5;
    -fx-border-radius: 2px;
    -fx-background-color: #e1d7ff;
}

#userImg, #ranklistImg1, #ranklistImg2, #ranklistImg3{
    -fx-border-color: #c7b4ff;
    -fx-border-width: 5px;
    -fx-border-radius: 70%;
}

#rank1, #rank2, #rank3{
    -fx-border-color: #c7b4ff;
    -fx-border-width: 5px;
    -fx-border-radius: 2px;
}

/*---------Form---------*/

#hbox1, #hbox2, #vbox{
    -fx-background-color: #e1d7ff;
    -fx-border-color: #c7b4ff;
    -fx-border-width: 5px;
    -fx-border-radius: 2px;
}

#NmmrListView, #NameListView, #KMListView, #PointsListView{
    -fx-border-color: #c7b4ff;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-background-color: #e1d7ff;
}

#submitBtn{
    -fx-background-color: #9571ff;
    -fx-text-fill: #f8f5ff;
}

/*---------Rank list---------*/

#RankListView, #RankListView2, #RankListView3, #rankLabel{
     -fx-border-color: #c7b4ff;
     -fx-border-width: 5px;
     -fx-border-radius: 2px;
     -fx-background-color: #e1d7ff;
}

/*---------Settings---------*/

#labelSettings{
    -fx-border-color: #c7b4ff;
    -fx-border-width: 5px;
    -fx-border-radius: 2px;
    -fx-background-color: #e1d7ff;
}

